{% extends 'base.html.twig' %}

{% block title %}Film Details{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-semibold mb-6">Film Details</h1>

        <div class="bg-white p-6 shadow-md rounded-lg mb-6">
            <table class="min-w-full">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left py-2 px-4">Id</th>
                        <td class="py-2 px-4">{{ film.id }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="text-left py-2 px-4">Titre</th>
                        <td class="py-2 px-4">{{ film.titre }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="text-left py-2 px-4">Genre</th>
                        <td class="py-2 px-4">{{ film.genre }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="text-left py-2 px-4">Date de Sortie</th>
                        <td class="py-2 px-4">{{ film.dateSortie ? film.dateSortie|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="text-left py-2 px-4">Price</th>
                        <td class="py-2 px-4">{{ film.price }}</td>
                    </tr>
                    <tr class="border-b">
                        <th class="text-left py-2 px-4">Image URL</th>
                        <td class="py-2 px-4">{{ film.urlImage }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex space-x-4">
            <a href="{{ path('app_film_index') }}" class="inline-block bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition duration-300">Back to List</a>
            <a href="{{ path('app_film_edit', {'id': film.id}) }}" class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">Edit</a>
        </div>

        <div class="mt-6">
            {{ include('film/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
